Repository BudgetSquirrel/BudgetTracker, pull requests merged in 2019-06, with the labels that each got.

#34 User serevice pattern for classes that need it.
  server/budgettracker.business/Api/AuthenticationApi.cs
  server/budgettracker.data/BudgetStore.cs
  server/budgettracker.data/UserRepository.cs
  server/budgettracker.devconsole/Program.cs
  server/budgettracker.devconsole/appsettings.json
  server/budgettracker.devconsole/budgettracker.devconsole.csproj
  server/budgettracker.sln
  server/budgettracker.web/Controllers/AuthenticationApiController.cs
  server/budgettracker.web/Startup.cs
Labels: Refactor

#36 budget api wire up
  server/budgettracker.business/Api/AuthenticationApi.cs
  server/budgettracker.business/Api/BudgetApi.cs
  server/budgettracker.business/Api/Interfaces/IBudgetApi.cs
  server/budgettracker.data/Repositories/BudgetRepository.cs
  server/budgettracker.data/Repositories/Interfaces/IBudgetRepository.cs
  server/budgettracker.data/Repositories/UserRepository.cs
  server/budgettracker.web/Controllers/BudgetApiController.cs
  server/budgettracker.web/Startup.cs
Labels: API

#37 Add a utility function in Api classes to authenticate requests
  server/GateKeeper/Authentication.cs
  server/budgettracker.business/Api/ApiBase.cs
  server/budgettracker.business/Api/AuthenticationApi.cs
  server/budgettracker.data/Repositories/UserRepository.cs
  server/budgettracker.web/Controllers/AuthenticationApiController.cs
Labels: API, Authentication, Refactor

#50 Task/43 BudgetStart on budget creation
  server/budgettracker.business/Api/BudgetApi.cs
  server/budgettracker.business/Api/Contracts/BudgetApi/CreateBudgetRequestContract.cs
  server/budgettracker.business/Api/Converters/BudgetApiConverter.cs
  server/budgettracker.business/Validation.cs
Labels: API, Refactor

#65 Use guids for user and show user id on registration
  server/budgettracker.business/Api/AuthenticationApi.cs
  server/budgettracker.business/Api/Contracts/AuthenticationApi/UserRequestApiContract.cs
  server/budgettracker.business/Api/Contracts/AuthenticationApi/UserResponseApiContract.cs
  server/budgettracker.business/Api/Converters/UserApiConverter.cs
  server/budgettracker.common/Models/User.cs
  server/budgettracker.data/Converters/UserConverter.cs
  server/budgettracker.data/Models/UserModel.cs
  server/budgettracker.data/Repositories/UserRepository.cs
  server/budgettracker.web/Controllers/AuthenticationApiController.cs
  server/budgettracker.web/Migrations/20190617230913_InitialCreate.Designer.cs
  server/budgettracker.web/Migrations/20190617230913_InitialCreate.cs
  server/budgettracker.web/Migrations/AppDbContextModelSnapshot.cs
Labels: API, Authentication, Refactor, Task

#49 Task/45 update budget
  server/budgettracker.business/Api/BudgetApi.cs
  server/budgettracker.business/Api/Contracts/BudgetApi/CreateBudget/CreateBudgetArgumentApiContract.cs
  server/budgettracker.business/Api/Contracts/BudgetApi/CreateBudget/CreateBudgetRequestContract.cs
  server/budgettracker.business/Api/Contracts/BudgetApi/CreateBudget/CreateBudgetResponseContract.cs
  server/budgettracker.business/Api/Contracts/BudgetApi/UpdateBudget/UpdateBudgetArgumentApiContract.cs
  server/budgettracker.business/Api/Contracts/BudgetApi/UpdateBudget/UpdateBudgetRequestContract.cs
  server/budgettracker.business/Api/Contracts/BudgetApi/UpdateBudget/UpdateBudgetResponseContract.cs
  server/budgettracker.business/Api/Converters/BudgetConverters/CreateBudgetApiConverter.cs
  server/budgettracker.business/Api/Converters/BudgetConverters/UpdateBudgetApiConverter.cs
  server/budgettracker.business/Api/Interfaces/IBudgetApi.cs
  server/budgettracker.business/Validation.cs
  server/budgettracker.common/Models/Budget.cs
  server/budgettracker.data/Models/BudgetModel.cs
  server/budgettracker.data/Repositories/BudgetRepository.cs
  server/budgettracker.data/Repositories/Interfaces/IBudgetRepository.cs
  server/budgettracker.web/Controllers/BudgetApiController.cs
Labels: API, New Endpoint
